.footer__overlay {
  background-color: $sec-bg-color;

  @media screen and (min-width: $desktop) {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: " ";
      width: 252px;
      height: 202px;
      background: #d53d5c;
      filter: blur(275px);
    }
  }
}

@media screen and (min-width: $desktop) {
  .footer-mobile {
    display: none;
  }
}
@media screen and (max-width: $max-tablet) {
  .footer-desktop {
    display: none;
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
  @media screen and (min-width: $desktop) {
    padding: 115px 0;
  }
}

.footer__logo {
  margin-bottom: 50px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.footer__desc {
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  color: $footer-text-color;
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 1.8;
  }
}

.footer__actions {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: $tablet) {
    justify-content: space-around;
  }
  @media screen and (min-width: $desktop) {
    margin-left: auto;
  }
}

.footer__title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.footer__link {
  color: $footer-text-color;
  transition: color 250ms $cubic;
  &:focus,
  &:hover {
    color: $sec-accent-color;
  }
}

.footer__socials {
  margin-top: 24px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  @media screen and (min-width: $desktop) {
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.footer__socials--item:not(:last-child) {
  margin-right: 30px;
}

.footer__scoials--link {
  color: $sec-accent-color;
  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: #f7d7ff;
  }
}

.footer__socials--icon {
  fill: currentColor;
}

.footer__rights {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  color: $footer-text-color;
}

// Desktop Version

@media screen and (min-width: $desktop) {
  .footer-desktop {
    display: flex;
  }

  .footer-desktop__info {
    width: 391px;
    text-align: left;
  }
  .aboutus {
    margin-right: 220px;
  }
}
