.footer {
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
  background-color: $sec-bg-color;
}

.footer__logo {
  margin-bottom: 50px;
}

.footer__desc {
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  color: $footer-text-color;
}

.footer__actions {
  display: flex;
  justify-content: space-between;
}

.footer__title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.footer__link {
  color: $footer-text-color;
  transition: color 250ms $cubic;
  &:focus,
  &:hover {
    color: $sec-accent-color;
  }
}

.footer__socials {
  margin-top: 24px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.footer__socials--item:not(:last-child) {
  margin-right: 30px;
}

.footer__scoials--link {
  color: $sec-accent-color;
  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: #f7d7ff;
  }
}

.footer__socials--icon {
  fill: currentColor;
}

.footer__rights {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  color: $footer-text-color;
}
