.about {
  margin-top: 50px;
  margin-bottom: 70px;
}
.about__list {
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-family: $add-font-family;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
}

.about__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.2;
}
