.auctions__overlay {
  background-color: $sec-bg-color;
}

@media screen and (max-width: $max-tablet) {
  .carousel {
    display: none;
  }
}
.auctions__title {
  margin-bottom: 68px;
  font-family: $add-font-family;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
}

.auctions {
  padding-top: 75px;
  padding-bottom: 60px;
  text-align: center;

  @media screen and (min-width: $desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.auctions__wrapper {
  @media screen and (max-width: $max-tablet) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.auctions__item {
  padding: 24px;
  width: 343px;
  background-color: $card-bg-color;
  box-shadow: $secondary-box-shadow;
  &:not(:last-child) {
    @media screen and (max-width: $max-tablet) {
      margin-bottom: 48px;
    }
  }
}
.card__wrapper {
  position: relative;
  margin-bottom: 13px;
}
.card__img {
  display: block;
}
.card__time {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 158px;
  padding: 11px 36px;
  font-weight: 600;
  font-size: 18px;
  line-height: 2;
  background: linear-gradient(
    125.33deg,
    #8613a5 18.61%,
    rgba(250, 250, 250, 0.65) 137.4%
  );
  opacity: 0.95;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
}
.card__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 2;
}
.card__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: $card-text-sec;
}
.card__category {
  margin-left: 10px;
  margin-right: 66px;
}
.card__info {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}
.card__desc {
  display: flex;
  align-items: center;
}
.card__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}
.card__likes {
  margin-left: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: $card-text-sec;
}

.card__bid {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
  color: $card-text-sec;
}
.card__crypto {
  font-family: $add-font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.card--button {
  background: rgba(233, 215, 167, 0.1);
  border: 1px solid $card-border-color;
}
