.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 842px;
  background: url(../../images/blur/11.png) no-repeat;
}
.blur1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 836px;
  background: url(../../images/blur/293.png) no-repeat;
}
.blur2 {
  position: absolute;
  top: 90%;
  right: 0;
  width: 254px;
  height: 413px;
  background: url(../../images/blur/13.png) no-repeat;
}
.blur3 {
  position: absolute;
  top: 30%;
  left: 0;
  width: 375px;
  height: 1068px;
  background: url(../../images/blur/9.png);
}
.blur4 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 375px;
  height: 1120px;
  background: url(../../images/blur/12.png);
}
.blur5 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 375px;
  height: 1141px;
  background: url(../../images/blur/294.png);
}
.blur7 {
  position: absolute;
  top: 35%;
  left: 0;
  width: 375px;
  height: 1266px;
  background: url(../../images/blur/292.png);
}
.blur8 {
  position: absolute;
  left: 20%;
  width: 225px;
  height: 145px;
  background: #60e7ce;
  filter: blur(225px);
}
.blur9 {
  position: absolute;
  left: 20%;
  width: 228px;
  height: 167px;
  background: #b1d26f;
  filter: blur(225px);
}
