.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav__logo {
  padding: 21px 0;
}
.header-nav__icon {
  display: block;
}

.header-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: $max-mobile) {
    display: none;
  }
}

.header-nav__list {
  display: flex;
}
.header-nav__item {
  &:not(:last-child) {
    @media screen and (max-width: $max-tablet) {
      margin-right: 20px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 64px;
    }
  }
}
.header-nav__link {
  padding: 21px 0;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 500ms $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-nav__button {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  color: $accent-color;
  background: rgba(233, 215, 167, 0.1);
  border: 1px solid $accent-color;
  transition: color 500ms $cubic, background-color 500ms $cubic;

  &:hover,
  &:focus {
    color: $black-text;
    background-color: $accent-color;
  }
  @media screen and(min-width:$tablet) {
    padding: 10px 15px;
  }
  @media screen and(max-width:$max-mobile) {
    display: none;
  }
}
.header-menu {
  display: none;
}
