.hwt {
  position: relative;
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center;

  &::after {
    position: absolute;
    top: 30%;
    right: 0;
    content: " ";
    width: 125px;
    height: 430px;
    background: rgba(213, 61, 92, 0.8);
    filter: blur(225px);
  }
}

.hwt__list {
  margin-top: 50px;
}

.hwt__option {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  text-transform: capitalize;
  color: $accent-color;
}

.hwt__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #372839;
}
