.hwt {
  position: relative;
  text-align: center;

  padding-top: 80px;
  padding-bottom: 60px;

  &::after {
    position: absolute;
    top: 30%;
    right: 0;
    content: " ";
    width: 125px;
    height: 430px;
    background: rgba(213, 61, 92, 0.8);
    filter: blur(225px);
    @media screen and (min-width: $desktop) {
      top: 0;
      right: 30%;
    }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 170px;
    padding-bottom: 0;
  }
}

.hwt__list {
  margin-top: 50px;
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.hwt__item:not(:last-child) {
  @media screen and (max-width: $max-tablet) {
    &::after {
      content: " ";
      height: 120px;
      width: 15px;
      display: inline-block;
      background-image: url(../../images/vectorVer.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  @media screen and (min-width: $desktop) {
    &::after {
      position: absolute;
      bottom: 125px;
      content: " ";
      height: 15px;
      width: 166px;
      display: inline-block;
      background-image: url(../../images/vectorHor.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
@media screen and (min-width: $desktop) {
  .hwt__item:first-child::after {
    left: 225px;
  }
  .hwt__item:nth-child(2)::after {
    left: 585px;
  }
  .hwt__item:nth-child(3)::after {
    left: 915px;
  }
}
.hwt__option {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  text-transform: capitalize;
  color: $accent-color;
  @media screen and (min-width: $desktop) {
    margin-top: 32px;
  }
}

.hwt__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #372839;
  @media screen and (min-width: $desktop) {
    width: 106px;
    height: 106px;
    margin-bottom: 0;
  }
}
