.popular {
  position: relative;
  padding-bottom: 75px;
  text-align: center;

  &::after {
    position: absolute;
    content: " ";
    top: 10%;
    right: 0;
    width: 225px;
    height: 145px;
    background: #60e7ce;
    filter: blur(225px);
    @media screen and (min-width: $desktop) {
      right: 50%;
    }
  }
  @media screen and (min-width: $desktop) {
    padding-top: 170px;
    padding-bottom: 0;
  }
}
.popular__wrapper {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}
.popular__list {
  margin-bottom: 48px;
}

.popular__item {
  padding: 20px;
  width: 343px;

  background-color: $card-bg-color;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.popular__info {
  display: flex;
  align-items: center;
}

.popular__author {
  margin-left: 12px;
  margin-right: 70px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.7;
}

.popular__serie {
  font-weight: 600;
  font-size: 16px;
  line-height: 2.2;
  color: $card-text-sec;
}
