// Colors
$main-bg-color: #1c121f;
$sec-bg-color: #251928;
$white-bg-color: #fff;
$card-bg-color: #3d2942;
$secondary-card-bg-color: #302034;
$button-bg-color: #251928;
$button-hero-bg: #594846;

$main-text-color: #f5fbf2;
$white-text: #fff;
$black-text: #000;
$card-text-color: #594d5e;
$card-text-sec: #bdaac1;
$footer-text-color: #96839b;

$accent-color: #ffce4e;
$sec-accent-color: #e03054;
$third-accent-color: #8613a5;

$card-border-color: #bcb39a;

// Fonts
$main-font-family: "Work Sans", sans-serif;
$add-font-family: "Oxanium", cursive;
// Breackpoints
$mobile: 375px;
$max-mobile: 767px;
$tablet: 768px;
$max-tablet: 1439px;
$desktop: 1440px;
// Transition props
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
//
$logo-text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
  0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
$title-text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
  0px -4px 10px rgba(255, 255, 255, 0.3);

$main-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$secondary-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$main-card-box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
  rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
  rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
